---
const { color, title, subtitle, subtitle2 } = Astro.props
const textColor = `text-${color}`
---

<section class="bg-black h-screen w-screen text-center relative overflow-hidden landing-section" data-header-color={color}>

  <div class="z-50 relative h-full flex flex-col">

    <header>
      <h2 class={`${textColor} pt-40 text-[40px] font-medium`}>{title}</h2>
      <p class={`${textColor} text-sm`}>{subtitle}</p>
      <p class={`${textColor} text-sm`}>{subtitle2}</p>
    </header>

    <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-20">
      <slot name="footer" />
    </footer>

  </div>

  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <slot name="background"></slot>
    <!-- <video class="object-cover object-center h-full w-full" src="./homepage.webm" autoplay loop></video> -->
  </div>

 </section>